<div id='tabs'>
<ul>
  <li><a href='#edit_tab'>Edit Expenses</a></li>
  <li><a href='#report_tab'>Reports</a></li>
  <li><a href='#upload_tab'>Upload</a></li>
</ul>

<div id='edit_tab'>
[% INCLUDE edit_tab.tt %]
</div>

<div id='report_tab'>
[% INCLUDE report_tab.tt %]
</div>

<div id='upload_tab'>
[% INCLUDE upload_tab.tt %]
</div>

<div id='new_code_dialog' title='Confirm'>
Confirm new code <span id='new_code_confirm'></span>
</div>

</div>

